* {
	box-sizing: border-box;
	top: auto;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Roboto",Meiryo,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",sans-serif;
   background-color: #F5F7F9;;
   letter-spacing:normal;
}
a:link {
	color:black;
}
.link{
	color:#006699;
	text-decoration:underline;
}
.link:hover{
	color:#90cfd9;
}
a:hover {
  color:#90cfd9;
  text-decoration:underline;
}
a:visited {
	color:#006699;
}
.header-5 {
  box-sizing: border-box;
  width: 100%;
  position:absolute;
  position:fixed;
  height:50px;
}
.header-5.top {
  background-color:transparent;
}
.header-5.scroll {
  background-color:#5ab8c7;
  box-shadow: 0px 1px 2px gray;
}

.header-inner {
  display: flex;
  align-items: center;
  max-width: 1500px;
  width:90%;
  height: 50px;
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500; 
}
.header-nav {
  height: 50px;
  align-items: center;
  margin: 0;
}
.header-nav-list {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  margin: 0;
}
.header-nav-item {
  float: left;
  padding:13px 10px 13px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing:normal;
  color: #444;
  list-style: none;
}
.header-nav-item.scroll {
  color:white;
}
.header-ham {
  display: none;
}
.menu2 {
  width: 20px;
  height: 0px;
  margin: 4px 0;
  margin-right: 0;
  background-color: #333;
}

.header-nav-item:hover {
  background: #eee;
}
.header-nav-item:hover.scroll {
  background: #90cfd9;
}

.logo{
  height:25px;
  width:120px;
}
.logo_img {
  height:25px;
  width:auto;
  align-items: center;
}

.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align:center;
   height: 300px;
   background-image:url('../image/top.gif');
   background-position:top center;
   background-repeat:no-repeat;
}

h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normalc;
   color: #fff;
}
.sectionbox{
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}
.sectiontitle{
	font-size:20px;
	color:black;
}

.flex-box{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}
.f-childbox1{
  text-align: center;
  flex-basis: 40%;
  max-width: 400px;
  min-width: 250px;
  background-color:#70B5C5;
  margin:15px;
  padding:3px 10px 10px;
}
.f-childbox2{
  text-align: center;
  flex-basis: 40%;
  max-width: 400px;
  min-width: 250px;
  background-color:#90AF35;
  margin:15px;
  padding:3px 10px 10px;
}
.f-title{
  font-size:17px;
	padding-left:10px;
	letter-spacing:normal;
	margin:0;
  color:white;
}
.f-title a{
  color:white;
}
.f-textbox{
  text-align: justify;
  padding:3px 20px 0px;
  color:white;
}
.f-textbox a{
  color:white;
}
.f-button-box{
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.f-button{
  background-color: grey;
  color:white;
  padding:3px;
  width:100%;
}
.f-buttona{
  margin:5px;
  color:white;
  text-decoration: none;
  width:40%;
}
.f-buttona :hover{
  background-color:darkgrey;
  text-decoration: none;
}
.usecase-image {
  width: 100%;
  height: auto;
}
.usecase-box{
    margin: 0;
    display:flex;
    clear: both;
    padding-left:10px;
    padding-top:10px;
    vertical-align:top;
} 
.usecase-title{
	font-size:17px;
	padding-left:10px;
	padding-top:10px;
	letter-spacing:normal;
	margin:0;
}
.usecase-text{
    color:gray;
    margin: 0;
    padding-top:0px;
	padding-left:20px;
    width: 50%;
    max-width:500px;
    overflow-wrap:break-word;
    letter-spacing:normal;
}
.txt{
    color:gray;
    margin: 0;
	padding-left:20px;
    width: 100%;
    max-width:1800px;
    overflow-wrap:break-word;
    letter-spacing:normal;
}
.last-section{
	display:flex;
	width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}
.ls-txt{
	font-size:10px;
	color:gray;
	padding-right:50px;
	letter-spacing:normal;
}

@media screen and (max-width: 700px) {
  .header-nav-list {
    display: none;
  }

  .flex-box{
    flex-direction: column;
    align-items: center;
  }


@media screen and (max-width: 480px) {
  .header-nav {
    margin: 0 0 0 auto;
  }

  .header-ham {
    display: block;
  }

